<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-2 bread"><%= @artist.name %></h1>
        <p class="breadcrumbs"><span class="mr-2"><%= link_to root_path do %> ホーム <i class="ion-ios-arrow-forward"></i> <% end %></span><span class="mr-2"> <%= link_to artists_path do %> アーティスト <i class="ion-ios-arrow-forward"></i> <% end %></span> <span><%= @artist.name %> <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ftco-animate event-wrap">
        <p>
          <img src="<%= @artist.image %>" alt="" class="img-fluid">
        </p>
        <div class="text">
          <div class="meta">
            <p>
              <span><i class="icon-gear mr-2"></i> <%= @artist.craft %></span>
              <span><i class="icon-my_location mr-2"></i> <a href="#"><%= @artist.location %></a></span>
       		  </p>
       		</div>
       	</div>
      </div> <!-- .col-md-8 -->
      <div class="col-lg-8 sidebar ftco-animate">
        <%= @artist.description.html_safe %>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> <!-- .section -->
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4 ftco-animate">
          <div class="blog-entry event-wrap">
            <div class="text">
              <h3 class="heading pl-md-5"><%= link_to product.title, product_path(product.id) %></h3>
            </div>
            <%= link_to "", product_path(product.id), class: 'block-20', style: "background-image: url('#{product.image}');" %>
            <div class="text py-3">
              <div class="meta">
                <p>
                  <span><i class="icon-gear mr-2"></i> <%= product.craft %></span>
                  <span><i class="icon-money mr-2"></i> <a href="#"><%= product.target %></a></span>
                </p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= link_to '詳細', product_path(product.id), class: 'btn btn-primary full-width' %>
                </div>
                <div class="col-md-6">
                  <%= link_to 'メッセージ送る', product_send_mail_path(product.id), class: 'btn btn-primary full-width' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
    